@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
:root {
    --Soft-Blue: hsl(231, 69%, 60%);
    --Soft-Red: hsl(0, 94%, 66%);
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#header {
    padding: 2rem;
}

#header .part_1 {
    display: flex;
    justify-content: space-between;
}

#header .menu_part #menu {
    display: flex;
}

#header .menu_part #menu li {
    list-style-type: none;
    padding: 0 1rem;
}

#header .menu_part #menu li a {
    text-decoration: none;
    color: var(--Very-Dark-Blue);
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}

#header .menu_part #menu li a:hover {
    color: var(--Soft-Red);
}

#header .menu_part #menu li:nth-child(4) a {
    border: 1px solid var(--Soft-Red);
    background-color: var(--Soft-Red);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    color: white;
}

#header .menu_part #menu li:nth-child(4) a:hover {
    background-color: transparent;
    color: var(--Soft-Red);
}

#header .part_2 {
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    grid-gap: 2rem;
    align-items: center;
    margin-top: auto;
}

#header .part_2 .text_part {
    width: 40%;
}

#header .part_2 .text_part h1 {
    font-size: 3rem;
    color: var(--Very-Dark-Blue);
}

#header .part_2 .text_part p {
    margin-top: 1rem;
    font-size: 18px;
    color: var(--Grayish-Blue);
    width: 80%;
}

#header .part_2 .text_part div {
    margin-top: 1rem;
    display: flex;
    grid-gap: 1rem;
}

.btn {
    border: 1px solid var(--Soft-Blue);
    background-color: var(--Soft-Blue);
    color: white;
    font-weight: 500;
    padding: 0.8rem 1.3rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    background-color: transparent;
    color: var(--Soft-Blue);
}

.btn1 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}

.btn1:hover {
    border: 1px solid rgba(0, 0, 0, 0.7);
    color: black;
}

#header .part_2 {
    position: relative;
}

#header .part_2 .img_part {
    position: relative;
}

#header .part_2 .img_part img {
    width: 600px;
}

.bg {
    position: absolute;
    top: 40%;
    right: 0;
    background-color: var(--Soft-Blue);
    width: 30%;
    height: 50%;
    border-radius: 0 0 0 25%;
}


/* SECTION - 1*/

#section_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

#section_1 .part_1 h2 {
    font-weight: 500;
    color: var(--Very-Dark-Blue);
}

#section_1 .part_1 p {
    margin-top: 1rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: var(--Grayish-Blue);
    line-height: 1.5rem;
}

#section_1 .tab_part {
    margin: 2rem 0;
    position: relative;
}

#section_1 .tab_part::after {
    content: "";
    position: absolute;
    top: 98%;
    left: 0%;
    width: 100%;
    height: 1px;
    background-color: #9e9e9e;
}

#section_1 .tab_part ul {
    display: flex;
}

#section_1 .tab_part ul li {
    list-style-type: none;
    margin: 0 1.2rem;
    padding: 1.2rem 1rem;
    color: var(--Grayish-Blue);
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
}

#section_1 .tab_part ul li.active {
    color: var(--Very-Dark-Blue);
}

#section_1 .tab_part ul li.active::after {
    content: "";
    position: absolute;
    top: 95%;
    left: 35%;
    background-color: var(--Soft-Red);
    width: 30%;
    height: 5px;
    z-index: 99999;
}

#section_1 .change_part .box {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#section_1 .change_part .box .img_part {
    flex-basis: 50%;
    position: relative;
}

#section_1 .change_part .box .img_part img {
    width: 400px;
}

.bg2 {
    top: 60%;
    height: 70%;
    left: 0;
    border-radius: 0 0 40% 0;
}

#section_1 .change_part .box .text_part {
    text-align: left;
    flex-basis: 50%;
}

#section_1 .change_part .box .text_part h3 {
    font-weight: 500;
    color: var(--Very-Dark-Blue);
}

#section_1 .change_part .box .text_part p {
    margin: 1.5rem 0;
    width: 70%;
    margin-right: auto;
    color: var(--Grayish-Blue);
}


/* SECTION 2*/

#section_2 {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#section_2 .part_1 h2 {
    font-weight: 500;
    color: var(--Very-Dark-Blue);
}

#section_2 .part_1 p {
    margin-top: 1rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: var(--Grayish-Blue);
    line-height: 1.5rem;
}

#section_2 .part_2 {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    grid-gap: 3rem;
}

#section_2 .part_2 .box {
    background-color: white;
    padding: 1.2rem;
    width: 250px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.2);
}

#section_2 .part_2 .box:nth-child(2) {
    margin-top: 2rem;
}

#section_2 .part_2 .box:nth-child(3) {
    margin-top: 4rem;
}

#section_2 .part_2 .box .dot_part img {
    width: 100%;
}

#section_2 .part_2 .box div:not(:first-child) {
    margin-top: 1.2rem;
}

#section_2 .part_2 .box .text_part p {
    margin-top: 1rem;
    color: var(--Grayish-Blue);
    font-size: 14px;
}

#section_3 {
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section_3 .part_1 h2 {
    font-weight: 500;
    color: var(--Very-Dark-Blue);
    text-align: center;
}

#section_3 .part_1 p {
    margin-top: 1rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: var(--Grayish-Blue);
    line-height: 1.5rem;
    text-align: center;
}

#section_3 .part_2 {
    margin-top: 2rem;
}

#section_3 .part_2 .box {
    padding: 1rem;
    width: 500px;
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
    position: relative;
}

.answer_part {
    position: relative;
    padding: 1.5rem 0;
    line-height: 1.5rem;
}

.answer_part p {
    color: var(--Grayish-Blue);
    font-size: 14px;
}

#section_3 .part_2 .box:first-child {
    border-top: none;
}

#section_3 .part_2 .box .name_part {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    justify-content: space-between;
    cursor: pointer;
}

#section_3 .part_2 .box .name_part h3 {
    transition: 0.2s ease-in-out;
}

#section_3 .part_2 .box .name_part:hover h3 {
    color: var(--Soft-Red);
}

#section_3 .part_2 .box .name_part img {
    width: 12px;
    height: 10px;
}

#section_3 .part_2 .box .name_part h3 {
    font-size: 14px;
    font-weight: 400;
    color: var(--Very-Dark-Blue);
}

#section_3 .part_2 .box .icon_part {
    position: absolute;
    top: 40%;
    right: 0;
    cursor: pointer;
}

#section_3 .part_2 .box .icon_part img {
    width: 15px;
}

#section_3 .btn_part {
    margin-top: 2rem;
}


/* SECTION 4 */

#section_4 {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--Soft-Blue);
    width: 100%;
    color: #fff;
}

#section_4 .part_1 p {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2rem;
    font-size: 10px;
}

#section_4 .part_2 h2 {
    width: 70%;
    font-weight: 500;
    margin: 2rem auto;
}

#section_4 .part_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    position: relative;
}

#section_4 .part_3 input {
    outline: none;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding: 1rem 0.5rem;
}
#section_4 .part_3 .error_icon{
    display: none;
    position: absolute;
    top: 30%;
    right: 33%;
    width: 15px;
    font-size: 10px;
}
#section_4 .part_3 .error{
    display: none;
    position: absolute;
    top: 80%;
    left: 0;
    background: var(--Soft-Red);
    padding: 0.2rem 0.5rem;
    width: 300px;
    border-radius: 0 0 6px 6px;
    font-size: 10px;
    text-align: left;
}
.btn3 {
    background-color: var(--Soft-Red);
}

.btn3:hover {
    background-color: #fff;
    color: var(--Soft-Red);
    border-color: var(--Soft-Red);
}


/* FOOTER */

#footer {
    padding: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--Very-Dark-Blue);
}

#footer .part_1 {
    display: flex;
    justify-content: space-between;
    grid-gap: 2rem;
}

#footer .part_1 .f1,
#footer .part_1 .f2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;
}

#footer .part_1 .f1 .menu_part ul {
    display: flex;
}

#footer .part_1 .f1 .menu_part ul li,
#footer .part_1 .f2 ul li {
    list-style-type: none;
    margin: 0 0.5rem;
    padding: 0 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#footer .part_1 .f1 .menu_part ul li:hover,
#footer .part_1 .f2 ul li:hover {
    color: var(--Soft-Red);
}

#footer .part_2 {
    margin-top: 1.5rem;
    text-align: center;
}

#footer .part_2 small {
    color: white;
}

#footer .part_2 small a {
    text-decoration: none;
    color: var(--Soft-Blue);
    transition: 0.2s ease-in-out;
}

#footer .part_2 small a:hover {
    color: var(--Soft-Red);
}

.menu_btn {
    display: none;
}

.mobile_menu {
    display: none;
}


/* Medium Screens */

@media (max-width: 800px) {
    #header {
        padding-right: 0;
    }
    .menu_btn {
        display: flex;
        margin-right: 2rem;
        cursor: pointer;
    }
    #header .menu_part #menu {
        display: none;
    }
    .mobile_menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        padding: 2rem;
        flex-direction: column;
        width: 100%;
        height: 100%;
        z-index: 9999999;
        background-color: rgba(4, 21, 255, 0.74);
        transition: 0.2s ease-in-out;
    }
    .mobile_menu.active {
        display: flex;
    }
    .mobile_menu .part_1 {
        flex-basis: 20%;
        display: flex;
    }
    .mobile_menu .part_1 .close_menu p {
        cursor: pointer;
    }
    .mobile_menu .part_2 {
        flex-basis: 20%;
        margin-bottom: 5rem;
    }
    .mobile_menu .part_2 .mobile_nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .mobile_menu .part_2 .mobile_nav li {
        list-style-type: none;
        padding: 1rem 0;
    }
    .mobile_menu .part_2 .mobile_nav li:not(:last-child) {
        border-top: 1px solid #9e9e9e;
        border-bottom: 1px solid #9e9e9e;
    }
    .mobile_menu .part_2 .mobile_nav li:last-child {
        margin-top: 1rem;
        border: 2px solid white;
        border-radius: 6px;
    }
    .mobile_menu .part_2 .mobile_nav li a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        transition: 0.2s ease-in-out;
    }
    .mobile_menu .part_2 .mobile_nav li a:hover {
        color: var(--Soft-Red);
    }
    .mobile_menu .part_3 {
        margin-bottom: 5rem;
    }
    .mobile_menu .part_3 ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile_menu .part_3 ul li {
        list-style-type: none;
        margin: 0 1rem;
        cursor: pointer;
    }
    #header .part_2 {
        flex-direction: column-reverse;
    }
    #header .part_2 .img_part img {
        width: 100%;
    }
    .bg {
        top: 28%;
        width: 80%;
        height: 20%;
    }
    #header .part_2 .text_part {
        width: 100%;
        text-align: center;
        padding-right: 2rem;
    }
    #header .part_2 .text_part h1 {
        font-size: 2rem;
    }
    #header .part_2 .text_part p {
        margin-top: 1rem;
        font-size: 18px;
        color: var(--Grayish-Blue);
        width: 100%;
    }
    #header .part_2 .text_part div {
        display: inline-block;
    }
    /* SECTION 1*/
    #section_1 .part_1 p {
        width: 80%;
    }
    #section_1 .tab_part {
        width: 100%;
    }
    #section_1 .tab_part ul {
        flex-direction: column;
    }
    #section_1 .tab_part ul li {
        border-top: 1px solid #9e9e9e;
        border-bottom: 1px solid #9e9e9e;
        padding: 1rem;
    }
    #section_1 .tab_part::after {
        display: none;
    }
    #section_1 .change_part .box {
        flex-direction: column;
    }
    #section_1 .change_part .box .img_part img {
        width: 100%;
    }
    #section_1 .change_part .box .text_part {
        margin-top: 10rem;
        text-align: center;
    }
    #section_1 .change_part .box .text_part h3 {
        font-size: 2rem;
    }
    #section_1 .change_part .box .text_part p {
        width: 100%;
    }
    .bg2 {
        top: 15%;
        height: 40%;
        left: -20%;
        border-radius: 0 0 40% 0;
        background-color: var(--Soft-Blue);
    }
    /* SECTION 2 */
    #section_2 {
        margin-top: 2rem;
    }
    #section_2 .part_1 p {
        width: 100%;
    }
    #section_2 .part_2 {
        flex-direction: column;
    }
    #section_2 .part_1 h2 {
        font-size: 2rem;
    }
    /* SECTION 3 */
    #section_3 .part_1 h2 {
        font-size: 2rem;
    }
    #section_3 .part_1 p {
        width: 100%;
    }
    #section_3 .part_2 .box {
        width: 100%;
    }
    /* SECTION 4 */
    .btn3 {
        width: 100%;
    }
    #section_4 .part_3 {
        flex-direction: column;
    }
    #section_4 .part_3 .error_icon {
        top: 10%;
        right: 5%;
    }
    #section_4 .part_3 .error{
        top: 30%;
    }
    /* FOOTER */
    #footer .part_1,
    #footer .part_1 .f1,
    #footer .part_1 .f1 .menu_part ul {
        flex-direction: column;
    }
    #footer .part_1 .f1 .menu_part ul li {
        padding: 1rem 0;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.2rem;
    }
}